---
// Top status banner shared by landing & docs.
interface Props {
  text: string;
}
const { text } = Astro.props;
---
<div class="banner">
  <div class="banner-inner">
    <span class="dot"></span>
    <span>{text}</span>
  </div>
</div>
